.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* background-image: url("../public/caffeindex-background.png"); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  background-color: #92D293;
  font-family: 'Chelsea Market';
  font-size: 1.5em;
}

img {
  border-radius: 50%;
  height: 200px;
  width: 200px;

}

header {
  
  background-color: #FFFDD0;;
  margin-top: 80px;
}

.user-profile-header {
  display: flex;
  justify-content: space-evenly;
  
}

.user-profile-header > h2 {
  padding: 5%;


}

.profile-pic {
  margin-top: 2%;
}

.drinks-list {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.user-drink {
  /* border: 1px solid black; */
  height: 200px;
  width: 300px;
  background-color: #FFFDD0;
  font-size: large;
  text-align: center;
  margin: 2% 0;
  border-radius: 10%;
  font-size: 1em;
  display: flex;
  flex-direction: column;

}

.user-drink > a {
  /* margin-left: 5%; */
  /* text-align: center; */
  margin: 2%;
  font-size: 1.25rem;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #92D293;
  /* background-color: #333; */
  position: fixed; 
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  right: 0;
  width: 100%; /* Full width */
  height: 60px;

  
}
.navbar > img {
  height: 60px;
  width: 60px;
  margin-right: 3%;
}

.navbar > nav {
  /* width: 70px; */
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.navbar > nav > a {
  margin: 3% 2%;
  display: inline;
  white-space: nowrap;
}

button {
  white-space: nowrap;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white
}

.user-drink > a:hover {
  color: black
}

.drink-builder-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drink-schema {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 60%;
  margin: 1%;
  padding: 2%;
  background-color: #FFFDD0;

}

.drink-schema > a:hover{
  color: black;
}

.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.home-header {
  background-color: #92D293;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.about-card {
  width: 80%;
  /* border: 1px solid black; */
  background-color: #FFFDD0;
  margin: 2% 0;
  height: 30%;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 10%; */
}

.full-drink-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* height: 50vh; */
}

.drink-form-schema {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 50vh;
  width: 70%;
  /* border: 1px solid black; */
  width: 60%;
  margin: 1%;
  padding: 2% 4%;
  background-color: #FFFDD0;
}

button {
  background-color: coral; /* Green */
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 10%;


}

.login {
  display: flex;
  margin: 0 2%

}

.login > input {
  margin-right: 2%;
}